<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form method="post">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="subTitle">Blog SubTitle:</label>
      <input type="text" id="subTitle" name="subTitle" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>